<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="petrinet.petri.presentation.PetriModelWizardID"
            name="%_UI_PetriModelWizard_label"
            class="petrinet.petri.presentation.PetriModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PetriModelFile.gif">
         <description>%_UI_PetriModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="petrinet.petri.presentation.PetriEditorID"
            name="%_UI_PetriEditor_label"
            icon="icons/full/obj16/PetriModelFile.gif"
            extensions="petri"
            class="petrinet.petri.presentation.PetriEditor"
            contributorClass="petrinet.petri.presentation.PetriActionBarContributor">
      </editor>
   </extension>

</plugin>
